<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/logotip.css">
    <link rel="stylesheet" type="text/css" href="/css/gaming-industry/style.css">
    <link rel="stylesheet" type="text/css" href="/css/shrifts.css">
    <link rel="stylesheet" href="/css/gaming-industry/style-mobil.css">
    <link rel="stylesheet" href="/css/gaming-industry/article.css">
    <link rel="stylesheet" href="/css/basement.css">
    <link rel="stylesheet" href="/css/gaming-industry/strip-pages.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game Pro</title>
</head>
<body>
    <%- include('head'); -%>
    <div class="indent_under_header"></div>

    <div class="button"></div>
    <div class="list_news">
        <div class="news">
            <h1 class="news_h1">Новости</h1>
        </div>
        <div class="column">
            <div class="left_column">
                <!--*********-->
                    <% var j = results.length%>
                    <%for(var i=0 +((Number.parseInt(p))*10); i<j; i++){ %>
                        <form action="/gaming-industry/<%=results[i]._id%>" method="get">
                            <div class="record">
                                <% var id = results[i]._id%>
                                <input type="submit" id="submit" class="transparent" value=" ">
                                <div class="name"><h2><%= results[i].title%></h2></div>
                                <div class="image"><img src="data:image/gif;base64,<%=results[i].picture%>" class="img"/></div>
                                <div class="dscription"><p><%= results[i].dscription%></p></div>
                                <div class="timePublication"><p class="time"><%= results[i].timePublication%></p></div>
                            </div>
                        </form>
                    <%}%>
            </div>
            <div class="right_column"></div>
        </div>
    </div>

    <%var i = Number.parseInt(p) + 1%>
    <%var a = "/gaming-industry/?&p=" + i %>
    <div class="block-page"><span class="span">Продолжить</span><a href="<%=a%>" class="page"></a></div>
    <%if(p >0){%>
        <%i = p - 1%>
        <%var a = "/gaming-industry/?&p=" + i %>
        <div class="nazad"><span class="span">Назад</span><a href="<%=a%>" class="page"></a></div>
        
    <%}%>

    <%- include('basement'); -%>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</body>
</html>
