<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/logotip.css">
    <link rel="stylesheet" type="text/css" href="/css/shrifts.css">
    <link rel="stylesheet" type="text/css" href=" /css/layour/style.css">
    <link rel="stylesheet" type="text/css" href="/css/layour/basis.css">
    <link rel="stylesheet" type="text/css" href="/css/layour/basis-mobile.css">
    <link rel="stylesheet" href="/css/gaming-industry/section-button.css">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <title><%= results[0].title%></title>
</head>
<body>
    <%- include('head'); -%>
    <script src="/socket.io/socket.io.js"></script>
    <div class="indent_under_header"></div>
    <%- include('section-button'); -%>
    <div class="back"></div> <!--шаг назад-->
    <div class="basis">
        <div class="news">
            <div class="name"><h2 class= "nameh2"><%= results[0].title%></h2></div>
            <img src="data:image/gif;base64,<%=results[0].picture%>" class="img"/>
            <div class="dscription"><p class="p" align="justify"><%= results[0].dscription%></p></div>
            <div class="strip">
                <div class="share">
                    <p class="p1">Поделиться:</p>
                </div>
                <div class="publication">
                    <p class="timePublication"><%= results[0].timePublication%></p>
                </div>
            </div>

        </div>
        <div class="also">
            <div class="alsoElem"><h2 class="alsoh2">А так же:</h2></div>
            
            <div class="elements">

                <div class="elem">
                    <form action="" method="get" name="form">
                        <input type="submit" class="transparent" value=" ">
                        <div class="backgroundName"></div> 
                        <img id="imgElem">
                        <div class="name1">
                            <a id="nameElem" ></a>
                        </div>
                    </form>
                </div>
                <div class="elem1">
                    <form action="" method="get" name="form1">
                        <input type="submit" class="transparent" value=" ">
                        <div class="backgroundName"></div>
                        <img id="imgElem1"/>
                        <div class="name1">
                            <a id="nameElem1" align="justify"></a>
                        </div>
                    </form>
                </div>
                
                <div class="elem2">
                    <form action="" method="get" name="form2">
                        <input type="submit" class="transparent" value=" ">
                        <div class="backgroundName"></div>
                        <img id="imgElem2"/>
                        <div class="name1">
                            <a id="nameElem2" align="justify"></a>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>

    </div>

<script>
    var socket = io();

socket.on('one', function(msg) {
    console.log(msg)
    nameElem.setAttribute('src', "/")
    document.form.action = msg[0].id 
    imgElem.setAttribute('src', "data:image/jpg;base64," + `${msg[0].image}`);
    document.getElementById("nameElem").innerHTML = msg[0].name
    document.form1.action = msg[1].id 
    imgElem1.setAttribute('src', "data:image/jpg;base64," + `${msg[1].image}`);
    document.getElementById("nameElem1").innerHTML = msg[1].name
    document.form2.action = msg[2].id 
    imgElem2.setAttribute('src', "data:image/jpg;base64," + `${msg[2].image}`);
    document.getElementById("nameElem2").innerHTML = msg[2].name
});
</script>

</body>
</html> 